body {
  background: #949be2;
}

main {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto;
}

/* form {

} */
/* 
label {

} */
/* 
input[type="password"] {

} */

button {
  border: #949be2;

  background: #e5e7ff;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

button:hover {
  background: #949be2;
}
