body {
  background: #949be2;
}

main {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto;
}

h1 {
  color: #949be2;
  margin-right: 20px;
  margin-left: 60px;
  margin-top: 70px;
}

/* p {

} */

/* a {

} */

button {
  border: #949be2;
  background: #e5e7ff;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

button:hover {
  background: #949be2;
}
