body {
  font-family: "Arial";
  background: #e5e7ff;
}

main {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto;
}

h1 {
  margin: em;
}

h2 {
  font-size: medium;
  margin: 10px;
}

img {
  height: 300px;
  width: 290px;
  margin: 30px;
}

/* a {

} */

button {
  background: #e5e7ff;
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  margin: 10px auto;
}

button:hover {
  background: #949be2;
}
